.full-size-container {
    display: flex;
}

.filter-container {
    width: 12%;
    padding: 12% 2% 0 2%;
}

.exercise-preview {
    width: 76%;
    margin-left: 4%;
    display: flex;
    flex-direction: column;
}
.personal-fit {
    border-top: 10.5rem solid #000;
    display: flex;
    align-items: center;
    background-color: #ffffffd6;
}

.personal-fit h2 {
    width: 20%;
    padding: 2%;
    text-align: center;
}

.selectedExercises {
    overflow-x: scroll;
    width: 65%;
}

#createExercise {
    margin: 0;
    margin-right: 2%;
    width: 13%;
}
