.presentation {
    margin: 0 auto;
    width: 80%;
} 

.slides {
    display: flex;
    align-items: center;
    margin-bottom: 3%;
}

.crunch {
    padding-top: 14%;
}

.slides img {
    width: 50%;
    border: 1px solid #8314c8ec;
}

.slides h2 {
    width: 50%;
    color: #FFEE00;
    font-family: "Poppins", sans-serif;
    font-size: 3vw;
    text-align: center;
}

#stretching, #weighlift {
    font-size: 2.5vw;
}

.text {
    align-self: start;
}

.text  h2 {
    width: 100%;
}

.text p {
    color: #FFEE00;
    font-size: 1.7vw;
    text-align: center;
    padding: 3%;
}

.fitCall {
    color:#8314c8ec;
    font-family: "Josefin Sans", sans-serif;
}

#registrationButton {
    width: 50%;
    padding: 3%;
    font-size: 1.3vw;
    letter-spacing: .5px;
    margin: 10% 0;
}

.registration {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* media queries */

@media only screen and (max-width:770px) {
    .crunch {
        padding-top: 22%;
    }
}

@media only screen and (max-width:525px) {
    .text p {
        font-size: 2.25vw;
    }

    #registrationButton {
        width: 65%;
        font-size: 2vw;
        padding: 4%;
    }
}

@media only screen and (max-width:375px) {
    .crunch {
        padding-top: 40%;
    }

    .slides h2 {
        font-size: 3.5vw;
    }
}

