.exercises-container {
    padding: 2%;
    margin: 2%;

}

.display-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
}

.exercise-container {
    width: 31%;
    z-index: 2;
    padding: 2%;
    margin: 1%;
    background-color: #ffffffd8;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

.exercise-container img {
    width: 40%;
    height: auto;
}

.back {
    background-size: cover;
    background-position: center;
    height: fit-content;
    position: relative;
    border-radius: 25px;
}

.firstrow {
    display: flex;
    justify-content: center;
}
.popis {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 45%;
}

.popis span {
    font-size: 1.1vw;
}

.exercise-container h3 {
    font-size: 2vw;
    padding: 5% 0;
    
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.exercise-container p {
    font-size: 1vw;
    padding-bottom: 11%;
}

#equip {
    display: inline-block;
    padding-top: 10%;
    border-top: 2px solid #000;
}

select {
    display: inline-block;
}

.lastrow input[type="submit"] {
    border-radius: 25px;
    margin-top: 10%;
    margin-left: 14%;
}

.lastrow {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
}

.lastrow label, .lastrow select {
    display: inline-block;
    width: 50%;
}

.paginationButtons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.paginationButtons-container button {
    width: 4%;
    margin: 2% 1%;
    z-index: 2;
    background-color: transparent;
    border: none;
    font-weight: 900;
    font-size: 1vw;
}

.paginationButtons button {
    background-color: transparent;
    border: none;
    width: 15%;
    font-size: 1.35vw;
    font-weight: 300;
}

.paginationButtons {
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}

.paginationButtons .currentButton {
    font-size: 1.75vw;
    font-weight: 600;
}

/* media queries */

@media only screen and (min-width:1700px) {
    .lastrow select, .lastrow label {
        font-size: 1vw;
    }
}

@media only screen and (max-width:1350px) {
    .lastrow select, .lastrow label {
        font-size: 1vw;
    }
}

@media only screen and (max-width:800px) {
    .lastrow select, .lastrow label, .exercise-container p, .popis span {
        font-size: 1.3vw;
    }
    .exercise-container input[type="submit"] {
        font-size: 1.2vw;
    }
    .paginationButtons .currentButton {
        font-size: 2.2vw;
    }

    .paginationButtons button {
        font-size: 2vw;
    }
}

@media only screen and (max-width:630px) {
    .exercise-container {
        width: 40%;
    }
    .display-container {
        justify-content: space-evenly;
    }
    .lastrow select, .lastrow label, .exercise-container p, .popis span {
        font-size: 1.9vw;
    }
    .exercise-container input[type="submit"] {
        font-size: 1.7vw;
    }
    .paginationButtons-container button {
        font-size: 2vw;
    }
}

@media only screen and (max-width:400px) {
    .exercise-container {
        width: 60%;
    }
    .lastrow select, .lastrow label, .exercise-container p, .popis span {
        font-size: 2.4vw;
    }
    .exercise-container input[type="submit"] {
        font-size: 2vw;
    }
    .paginationButtons .currentButton {
        font-size: 3vw;
    }

    .paginationButtons button {
        font-size: 3vw;
    }
}