#single {
    width: 70%;
    background-position: center;
    position: relative;
}
.overlay {
    position: absolute;
    background-color: #f1f8d198;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 39px;
    border: 3px solid #ffee33;
}
#single h2 {
    background-color: #ffffffd8;
    border-radius: 25px;
    padding: 4% 5%;
    margin: 2% 0;
    z-index: 2;
}

.generatedDetail {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1vw;
    font-weight: 600;
    margin-bottom: 1%;
}

.containerForGenerated {
    width: 85%;
    background-color: #ffffffd3;
    margin: 1.5% 0;
    border-radius: 25px;
    text-align: center;
    z-index: 2;
}

.generatedDetail img {
    width: 12%;
    height: auto;
    padding: 1%;
}

.container-query {
    width: 88%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.container-query a {
    width: 35%;
}

.container-query-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.deleteExercise {
    margin: 0 1% 0 0;
    width: 4%;
    padding: .8% 1%;
}

.deleteExercise:hover {
    background-color: #8d8c8c;
}

.generatedDetail .exerciseName {
    font-size: 1.2vw;
}

.exerciseName {
    width: 16%;
}

.exerciseBodyPart {
    width: 40%;
}

.exerciseEquipment {
    width: 30%;
}

.exerciseDifficulty {
    width: 30%;
}

.exerciseSerie {
    width: 10%;
    padding-left: 2%;
}

.exerciseInter {
    width: 17%;
}
.exerciseRepeat {
    width: 17%;
}

#finish {
    z-index: 2;
}

@media only screen and (max-width:1024px) {
    #single {
        width: 100%;
    }

    #single h2 {
        font-size: 3vw;
    }

    .generatedDetail {
        font-size: 1.5vw;
    }

    .generatedDetail .exerciseName {
        font-size: 1.7vw;
    }

    #finish {
        font-size: 1.6vw;
    }
}

@media only screen and (max-width:700px) {
    .deleteExercise {
        margin: 0;
    }
}

@media only screen and (max-width:620px) {
    .generatedDetail {
        font-size: 1.7vw
    }

    .containerForGenerated {
        width: 90%;
    }
}

@media only screen and (max-width:550px) {
    .overlay {
        border-radius: 20px;
    }
    .home {
        width: 90%;
    }
    .generatedDetail img {
        width: 22%;
        padding: 3% 1% 2% 3%;
    }

    .container-query {
        font-size: 2vw;
        
    }

    .container-query .exerciseName {
        font-size: 2.3vw;
    }

    .container-query-detail {
        width: 35%;
        flex-direction: column;
    }

    .exerciseBodyPart {
        width: 100%;
    }
    
    .exerciseEquipment {
        width: 100%;
        padding: 3% 0;
    }
    
    .exerciseDifficulty {
        width: 100%;
        padding-bottom: 3%;
    }

    .deleteExercise {
        padding: 2% 5% 2% 2.5%;
    }

    #finish {
        font-size: 2vw;
        letter-spacing: .2vw;
    }
}

@media only screen and (max-width:425px) {
    .container-query{
        font-size: 2.3vw;
    }

    #single h2 {
        font-size: 3.5vw;
    }

    .deleteExercise {
        padding: 1.2% 5% 1.2% 1.5%;
        font-size: 3.2vw;
    }

    #finish {
        font-size: 2.5vw;
    }
}