* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    height: 100%;
}

.landing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    flex-grow: 1;
}

button {
    border: 1px solid black;
    border-radius: 25px;
    cursor: pointer;
}
